# Dependencies
node_modules/

# Next.js
.next/
out/
build/

# Environment
.env
.env.local
.env.production

# Uploads
uploads/

# Temp extraction
temp_foodshield/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Debug
npm-debug.log*
